@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap');


@import "tailwindcss";


@theme {
  /*  color*/
  --color-primary: #010a5e;
  --color-primary-light: #010d78;
  --color-secondary: #FFCC00;
  --color-paragraph: #c0c0c0;
  --color-white: #fff;
  --color-black: #000;
  --color-green: #007936;
  --color-red: #cc3433;
  --color-dark: #000;
  --color-dark-light: #171717;

  /* Container */
  --container-center: true;
  --container-padding: 1rem;
  --container-padding-sm: 1.5rem;

  /*  fonts */
  --font-oswald: "Oswald", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;


    /* screens*/
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}